%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  display: inline-block;
  transition: all 0.3s;
}
